body{
    margin:0;
    height:100vh;
    width:100vw;
    background-color:#eff2f1;

}
#header{
    background-color:white;
    height : 10%;
    display : flex;
    flex-direction:row;
    justify-content:space-between;
    align-items:center;
    padding: 0 20px;
}
#logo{
    color : #459e85;
    text-decoration:none;
}
#nav{
    display :flex;
    flex-direction:row;
}

#nav>a{
    margin : 10px;
    color:black;
    text-decoration:none;
}

#container{
    height:90%;
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
}

#book{
    background-color : white;
    border-radius:10px;
    width:70%;
    text-align:center
}

.trajet{
    display:flex;
    flex-direction:row;
    justify-content:space-around;
    align-items:center;
    width:100%;
    background-color:#f5eeee;
    border-radius:5px;
}
.bookBtn{
    color:white;
    background-color:#459e85;
    border:none;
    padding:10px;
    border-radius:4px;

}