body{
    margin:0;
    height:100vh;
    width:100vw;

}
#header{
    background-color:white;
    height : 10%;
    display : flex;
    flex-direction:row;
    justify-content:space-between;
    align-items:center;
    padding: 0 20px;
}
#logo{
    color : #459e85;
    text-decoration:none;
}

#logo:hover{
    cursor:pointer;
}

#nav{
    display :flex;
    flex-direction:row;
}

#nav>a{
    margin : 10px;
    color:black;
    text-decoration:none;
}

#nav>a:hover{
    cursor:pointer;
}

#container{
    
    background-image: url('./images/background.jpg');
    background-size:cover;
    background-position:top;
    display :flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
    height:90%;
}

#title{
    color:white;
    border:1px solid red;
    text-align:center;
}
#title>h1{
    font-size:42px;
}

#title>p{
    font-size:26px;
}
#cards{
    display : flex;
    flex-direction:row;
    justify-content:space-around;
    align-items:stretch;
    border: 1px solid green;
    padding : 30px;
    width:60%;
    height:100%;

}

#searchCard{
    border:1px solid red;
    padding:20px;
    display:flex;
    flex-direction:column;
    background-color : white;
    border-radius:10px;
    width:30%;
    height:70%;

}

#searchCard>input{
    background-color:#eff2f1;
    border-radius:4px;
    border:none;
    padding:10px
}

#searchCard>input#departureCity{
    border-bottom:1px solid grey;
}

#searchCard>input#arrivalCity{
    margin-bottom:20%;
}

#searchBtn{
    color:white;
    background-color:#459e85;
    border:none;
    padding:10px;
    border-radius:4px;
    margin-top:30%;
}
#returnCard>img{
    width:80%;
}

#returnCard>p{
    border-top:3px solid #459e85;
    padding:20px
}

#returnCard{
    border:1px solid red;
    padding:20px;
    display:flex;
    flex-direction:column;
    align-items:center;
    background-color : white;
    border-radius:10px;
    width:30%;
    height:70%;
}

.trajet{
    display:flex;
    flex-direction:row;
    justify-content:space-around;
    align-items:center;
    width:100%;
    background-color:#f5eeee;
    border-radius:5px;
}
.bookBtn{
    color:white;
    background-color:#459e85;
    border:none;
    padding:10px;
    border-radius:4px;

}



