body{
    margin:0;
    height:100vh;
    width:100vw;
}
#header{
    background-color:white;
    height : 10vh;
    display : flex;
    flex-direction:row;
    justify-content:space-between;
    align-items:center;
    padding: 0 20px;
    position:static;
}
#logo{
    color : #459e85;
    text-decoration:none;
}

#logo:hover{
    cursor:pointer;
}

#nav{
    display :flex;
    flex-direction:row;
}

#nav>a{
    margin : 10px;
    color:black;
    text-decoration:none;
}

#nav>a:hover{
    cursor:pointer;
}

#container{
    
    background-image: url('./images/background.jpg');
    background-size:cover;
    background-position:top;
    display :flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
    height:90%;

}

#title{
    color:white;
    text-align:center;
    height:20%;
    object-position:top;
    margin:20px 0;
}
#title>h1{
    font-size:42px;
}

#title>p{
    font-size:26px;
}
#cards{
    display : flex;
    flex-direction:row;
    justify-content:space-around;
    align-items:stretch;
    padding : 30px;
    width:65%;
    height:80%;
    gap:40px
    

}

#searchCard{
    padding:20px;
    display:flex;
    flex-direction:column;
    background-color : white;
    border-radius:10px;
    width:30%;
    height:80%;
    overflow-y:auto;
    text-align:center;
}

#searchCard>input{
    background-color:#eff2f1;
    border-radius:4px;
    border:none;
    padding:10px

}

#returnBtn{
    display:flex;
    padding:0px;
}
#searchCard>input#departureCity{
    border-bottom:1px solid grey;
}

#searchCard>input#arrivalCity{
    margin-bottom:40px;;
}

#searchBtn{
    color:white;
    background-color:#459e85;
    border:none;
    padding:10px;
    border-radius:4px;
    margin-top:130px
}

#searchBtn:hover{
    cursor:pointer;
}

#returnCard>img{
    width:70%;
}

#returnCard>p{
    border-top:3px solid #459e85;
    padding:20px;
    color :white;
}

#returnCard{
    padding:20px;
    display:flex;
    flex-direction:column;
    background-color:white;
    align-items:center;
    justify-content:start;
    border-radius:10px;
    width:30%;
    height:80%;
    max-height:50vh;
    overflow-y:auto;
    text-align:center;
}

#returnCard,#searchCard{
    background: rgba(255, 255, 255, 0.35);
    border-radius: 10px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(9.8px);
    -webkit-backdrop-filter: blur(9.8px);
    border: 1px solid rgba(255, 255, 255, 0.43);
}

.trajet{
    display:flex;
    flex-direction:row;
    justify-content:space-around;
    align-items:center;
    width:95%;
    background-color:#f5eeee;
    border-radius:5px;
    margin:5px;
}
.bookBtn{
    color:white;
    background-color:#459e85;
    border:none;
    padding:10px;
    border-radius:4px;

}

.bookBtn:hover{
    cursor:pointer;
}



